.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-box{
    width: auto;
    padding: 50px;
    border: 2px solid #34d399;
    border-radius: 30px;
    background-color: #88f0ca;
    color: green;
}
h1{
    font-size: 50px;
}
.error-box > a{
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(56, 56, 255);
    border: 2px solid blue;
    color: white;
    text-decoration: none;
    justify-self: center;
    margin-top: 20px;
    transition-duration: 300ms;
}
.error-box > a:hover{
    background-color: blue;
    box-shadow: 0 0 10px black;
}