<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Error</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <%- include("./navbar.ejs") %>
 <div class="container">
    <div class="error-box">
        <h1><%= status %> - <%= message %></h1>
    <a href="/">Go Home</a>
    </div>
 </div>
  <%- include("./footer.ejs") %>
</body>
</html>