<nav class="navbar">
    <div class="nav-container">
        <a href="/"  class="nav-logo"><div>♻️ EcoBin</div></a>
        <div class="nav-links">
            <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            <a href="/findBin"><i class="fa-solid fa-location-dot"></i> Find Bin</a>
            <a href="/recycle"><i class="fa-solid fa-qrcode"></i> Recycle</a>
            <a href="/rewards"><i class="fa-solid fa-trophy"></i> Rewards</a>
            <a href="/about"><i class="fa-solid fa-chart-line"></i> About Us</a>

        </div>
        <div class="nav-actions">
            <a class="btn-admin" href="/dashboard">Dashboard</a>
            <a class="btn-profile" href="/profile">Profile</a>
        </div>
    </div>
</nav>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
    .navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    height: 70px !important;
    background: rgba(255, 255, 255, 0.85)!important;
    backdrop-filter: blur(10px)!important;
    border-bottom: 1px solid rgba(226, 232, 240, 0.8)!important;
    display: flex !important;
    align-items: center !important;
    z-index: 1000!important;
}

.nav-container {
    width: 90%!important;
    max-width: 1200px!important;
    margin: 0 auto!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
}

.nav-logo {
    font-size: 1.5rem!important;
    font-weight: 700!important;
    color: #10b981!important;
    text-decoration: none!important;
}

.nav-links {
    display: flex!important;
    gap: 25px!important;
}

.nav-links a {
    text-decoration: none!important;
    color: #475569!important;
    font-size: 0.95rem!important;
    font-weight: 500!important;
    transition: 0.3s!important;
}

.nav-links a:hover { color: #10b981!important; }

.nav-actions { display: flex!important; gap: 12px!important; }

.btn-admin {
    text-decoration: none!important;
    background: #ecfdf5!important;
    color: #10b981!important;
    border: 1px solid #10b981!important;
    padding: 8px 20px!important;
    border-radius: 50px!important;
    cursor: pointer!important;
}

.btn-profile {
    text-decoration: none!important;
    background: #10b981!important;
    color: white!important;
    border: none!important;
    padding: 8px 20px!important;
    border-radius: 50px!important;
    cursor: pointer!important;
}

</style>